.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f50eee;
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 30px;
  padding: 20px;
  width: 660px;
  height: 130px;
  z-index: 1;
}
@media screen and (max-width: 375px) {
  .form {
    width: 320px;
    height: 180px;
    padding: 15px;
  }
}
