.weather-card {
  background: linear-gradient(#f574f1, #04abf3);
  width: 1000px;
  height: 400px;
  color: black;
}
.icons {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:rgb(5, 110, 31);
  color: white;
}
img.icon {
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
}
.minmaxhum{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.radios{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:400px;
  height:150px;
}
.temp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
<<<<<<< HEAD
=======
.temp{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.icons{
    width:100px;
    height:100px;
}
>>>>>>> 37b55071e5b839740f50330a0545e332e278c9ba
