.cel{
  color:white;
}

.weather-card {
  background: linear-gradient(#f013e9, #04abf3);
  width: 650px;
  height: 400px;
  color: black;
  box-shadow:5px black; 
}
.icons {
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:black;
  color: white;
}
img.icon {
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
}
.like {
  margin: 0 auto;
  height: 30px;
  background-color: rgb(5, 110, 31);
  color: white;
}
.minmaxhum,.minmaxf {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:40px;
}
.minmaxhum{
  color:white;
}
.radios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
  height: 50px;
}
.temp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:80px;
}
@media screen and (max-width: 375px) {
.weather-card{
  width:370px;

}
.temp{
  margin:10px;
  height:20px;
}
.icons{
  width:370px;
  position:relative;
  top:10px;
}
}
