.cel{
  color:white;
}

.weather-card {
  background: linear-gradient(#f013e9, #04abf3);
  width: 650px;
  height: 400px;
  color: black;
  box-shadow:5px black; 
}
.icons {
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:black;
  color: white;
}
img.icon {
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
}
.like {
  margin: 0 auto;
  height: 30px;
  background-color: rgb(5, 110, 31);
  color: white;
}
.minmaxhum {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:50px;
}
.radios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
  height: 150px;
}
.temp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:80px;
}
