.app {
  text-align: center;
  background-color: cornflowerblue;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.stormy {
  position: relative;
  right: 50px;
  background-color: darkslateblue;
}
.stormy1 {
  position: relative;
  left: 50px;
  background-color: darkslateblue;
}
@media screen and (max-width: 375px) {
 .search{
   position: relative;
   bottom:130px;
   left:80px;
   height:50px;
   font-size: 0.75rem;
   line-height:1.75;
  } 
}